*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Roboto Condensed', sans-serif;
    background-color: #ffffff;
    width: 50%;
    padding: 0.5em;
    padding-top: 1em;
    border: 0.25em solid gray;
    border-radius: 1%;
    margin: auto;
    text-align: center;
}

.container{
    background-color: #6a6a6a;
}

h1{
    text-align: left;
}

.button{
    background-color: lightgray;
    padding: 0.5em;
    border: 0.25em solid gray;
    margin: auto;
    text-align: center;
    border-radius: 2%;
    width: 50%;
}

.progress{
    margin: 0;
    padding: 0;
    font-size: 1.75em;
    text-align: left;
}

ul li{
    list-style-type: none;
    display: inline;
}

.questionForm{
    width: 50%;
}

.ansOpt {
    text-align: center;
    background-color: #a6a6a6;
    padding: 0.25em;
    border: 2px solid gray;
    border-radius: 2%;
    width: 50%;
    display: inline-block;
}
